<div class="fk-rewardTopup container-fluid">

  <div class="fk-scrollable row">
    <div class="fk-scrollable-content col-md-12">

      <page-header background="true" back="true" cs="false" logo="true" credit="true" href="'#/reward'"></page-header>

      <div class="col-md-12">
        <img class="ls-rewardTopup" src="/assets/images/reward/bannn8.jpg"/>
      </div>
      <div class="text-1">宝箱小红利</div>
      <table class="table-1 center qrTable" border>
        <thead>
            <th width="30%">玩家等级</th>
            <th width="15%">单笔存款</th>
            <th width="15%">最大优惠额</th>
            <th width="30%">流水倍数</th>
        </thead>
        <tbody>
            <tr>
                <td>无名渔夫</td>
                <td>50</td>
                <td>50</td>
                <td>（存款+优惠）x 25 倍流水</td>
            </tr>
            <tr>
                <td>实习船员</td>
                <td>50</td>
                <td>50</td>
                <td>（存款+优惠）x 20 倍流水</td>
            </tr>
            <tr>
                <td>大副</td>
                <td>50</td>
                <td>50</td>
                <td>（存款+优惠）x 18 倍流水</td>
            </tr>
            <tr>
                <td>船长</td>
                <td>50</td>
                <td>50</td>
                <td>（存款+优惠）x 15 倍流水</td>
            </tr>
            <tr>
                <td>深海阎王</td>
                <td>50</td>
                <td>50</td>
                <td>（存款+优惠）x 10 倍流水</td>
            </tr>
          </tbody>
      </table>
      <br>
      <div class="rc-text2">【活动对象】</div>
      <div class="text-4"> 捕鱼皇所有玩家。</div>
      <br>
      <div class="rc-text2">【领取方式】</div>
      <div class="text-4"> 新会员在提交存款信息后，在投注、提款之前，登录游戏账号点击【最新优惠】，选择【宝箱小红利】进行申请。</div>
      <br>
        <div class="col-md-12">
        <br><br>
        <div class="applyBtn" ng-click="rewardchest.applyRewardEvent()"></div>
      </div>
      <br>
      <div class="rc-text2">【注意事项】</div>
      <div class="text-4"> 1.每位会员当日仅能领取一次宝箱红利。</div>
      <div class="text-4"> 2.等级越高，流水解锁进度越简单。</div>
      <div class="text-4"> 3.此优惠活动可与洗码优惠、七日礼包共享。</div>
      <div class="text-4"> 4.若账户余额高于5元，则该笔存款的有效投注额会被累计到下一笔存款。</div>
      <div class="text-4"> 5.本网站保留对活动进行修改、最终解释和终止的权力，而无需提前通知，并对于任何争议具有最终决定权。</div>

      <div class="mtop20 mbot20 mh100">
        <div class="col-md-12" style="min-height:50px;">
          <div class="col-md-1 col-xs-1"></div>
          <div class="col-md-1 col-xs-1">
          </div>
        </div>

      </div>
      <!--<div class="mtop20 mbot20 mh100">-->
        <!--<div class="col-md-12" style="min-height:50px;">-->
        <!--<div class="col-md-1 col-xs-1"></div>-->
        <!--&lt;!&ndash;<div class="col-md-10 col-xs-10">&ndash;&gt;-->
        <!--&lt;!&ndash;<label>请选择存款</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<select class="form-control" ng-model="rewardtopup.topup">&ndash;&gt;-->
        <!--&lt;!&ndash;<option ng-repeat="reward in rewardtopup.topupHistory" value="{{reward._id}}">{{reward.createTime |&ndash;&gt;-->
        <!--&lt;!&ndash;date:'yyyy-MM-dd HH:mm:ss'}} - $ {{reward.amount}}&ndash;&gt;-->
        <!--&lt;!&ndash;</option>&ndash;&gt;-->
        <!--&lt;!&ndash;</select>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="col-md-1 col-xs-1">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-12" style="margin-top: 15px;">-->
          <!--<a href="#/rewardtopupselection">-->
            <!--<div class="applyBtn"></div>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <footer-menu name="'promotion'"></footer-menu>
</div>
