<div class="fk-rewardTopup container-fluid">

  <div class="fk-scrollable row">
    <div class="fk-scrollable-content col-md-12">

      <page-header background="true" back="true" cs="false" logo="true" credit="true" href="'#/reward'"></page-header>

      <div class="col-md-12">
        <img class="ls-rewardTopup" src="/assets/images/reward/bannn4.jpg" />
      </div>
      <!--<div class="text-1">起航奖励</div>-->
      <div class="text-1">封测第一波拿S9</div>
      <br>
      <div class="rc-text2">【活动内容】</div>
      <div class="text-3">在 e-fish 游戏  有效投注额最高 并且提出 有效BUG或建议 者，即可获得 三星 S9 大奖。</span></div>


      <br><br>
      <div class="rc-text2">【活动时间】</div>
      <div class="text-3">（注意）因活动热烈，将缩短第一波封测时间为 <span style="color:red"> 2018-05-15 ~ 2018-05-23  23:59:59 </span></div>
      <div>
      </div>
      <br>
      <div class="rc-text2">【活动对象】</div>
      <br>
      <div class="text-3">M1所有员工。</div>
      <br><br>
      <div class="rc-text2">【领取10万体验金流程】</div>
      <br>
      <div class="text-3">（1）点击捕鱼皇域名：www.byh678.com</div>
      <div class="text-3">（2）点击【注册】按钮填写开户信息（账号填写员工ID，找不到可咨询人事部。如：m10119）</div>
      <div class="text-3">（3）填写信息后，点击【立即申请】按钮，即可注册成功。</div>
      <br><br>

      <div class="rc-text2">【领取体验金10万步骤：】</div>
      <br>
      <br>
      <div class="text-3">（1）点击【优惠】按钮，选择【体验金】活动即可申请10万体验金；或是注册成功之后联系客服协助添加。					</div>
      <div class="text-3">（2）游戏完毕之后至 <a href="https://www.wjx.cn/jq/23465778.aspx" target="_blank">https://www.wjx.cn/jq/23465778.aspx</a>  填写有效问卷。</div>
      <div class="text-3"> p.s尽量往Bug或是用户体验作建议。</div>

      <br>
      <br>
      <div class="rc-text2">【奖励发放须知】</div>
      <br>
      <div class="text-3">（1）活动期间内，有效投注额最高，并且提出有效建议者，即可获得三星S9一只。</div>
      <div class="text-3">（2）奖励发送日期：2018年06月05日。</div>

<br><br>
      <div class="col-md-12" >
        <div style="margin:0 auto;width:50%">
          <div class="btn btn-primary" style="width:100%" ng-click="survey.applyRewardEvent()">领取10万体验金</div>
        </div>
      </div>
      <!-- <div>
        <div class="surveyDiv" ng-if="survey.isLogin">
          <a href="https://www.wjx.cn/jq/23465778.aspx" target="_blank">
            <button class="btn btn-primary" target="_blank">领取10万体验金</button>
          </a>
        </div>
        <div class="surveyImgDiv" ng-if="survey.isLogin">
            <img src="/assets/images/surveryQR.png" width="180" height="180">
        </div>
      </div> -->
      <!-- </div> -->

      <div class="mtop20 mbot20">

        <div class="col-md-12" style="min-height:50px;margin-bottom:50px;">
          <div class="col-md-1 col-xs-1"></div>
          <div class="col-md-1 col-xs-1">
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer-menu name="'promotion'"></footer-menu>
</div>
