<div class="container-fluid bgColor">
    <div class="row bgWhite">
      <page-header title="'站内信'" back="true" background="true" href="'#/account'"></page-header>
      <div id="accordion" class="fk-inbox col-md-12">
        <div ng-repeat="msg in inbox.inboxData track by $index">
          <div class="inboxTitle" ng-click="inbox.readMail($index);"  data-toggle="collapse" data-parent="accordion" data-target="#collapse{{$index}}">
            <h4 class="inboxTitleText">
              <a>{{msg.content | limitTo:17}}...</a>
            </h4>
            <div class="inboxRead" ng-hide="msg.hasBeenRead"></div>
          </div>
          <div id="collapse{{$index}}" class="collapse">
            <div class="inboxItem">
              <div class="inboxDelete" ng-click="inbox.deleteMail($index);"></div>
              <div class="inboxContent">尊贵的会员：</div>
              <div class="inboxContent"> {{msg.content}}
              </div>
              <div class="inboxDate text-right">创建时间：{{msg.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
          </div>
        </div>
        <div ng-if="inbox.inboxData.length==0">
          <div class="inboxTitle" data-parent="accordion">
            <div class="emptyBox">
              <div>邮箱为空</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
