<div class="fk-cashInOut-center container-fluid" style="background-color:#F2F2F2;">

  <div class="fk-scrollable row">
    <div class="fk-scrollable-content col-md-12" >
      <page-header title="'银行卡转账'" back="true" background="true" href="'#/cashInOut/cashIn'"></page-header>
    <a href="#/manualpaystatus">
    <div class="manual-bgWhite">
        <span class="mp-ls-icon-left"></span>
        <div class="mp-title">充值说明</div>
        <span class="mp-ls-icon-right"></span>
    </div>
    </a>
      <div class="payments-node" ng-if="(cashInOut.showAlipayTopUp)">

        <form class="fk-aliPay-form" name="manualPayForm" >
        <div class="form-group">
          <label>充值姓名 :</label>
          <input type="text"
                 name="topUpName"
                 class="form-control"
                 ng-model="cashInOut.userData.realName" 
                 disabled />
        </div>


        <div class="form-group">
          <label>充值方式 :</label>
          <select class="form-control fk-cashInOut-select"  ng-model="cashInOut.editData.depositMethod">
            <option ng-repeat="(key,val) in cashInOut.bankAccountTypeList" value="{{key}}">{{val}}</option>
          </select>
        </div>

          <div class="form-group">
                <label>充值银行 ：</label>
                <select class="form-control fk-cashInOut-select" ng-model="cashInOut.editData.bankTypeId">
                  <option ng-repeat="(key,val) in cashInOut.allBankTypeList" value="{{key}}">{{val}}</option>
                </select>
          </div>
          <div class="form-group">
              <label>充值账号 ：</label>
              <input type="number"
                     name="lastBankcardNo"
                     ng-model="cashInOut.editData.lastBankcardNo"
                     placeholder="账号后3位"
                     class="form-control"
                     required />
              <div class="has-error"
                    ng-messages="manualPayForm.lastBankcardNo.$error"
                    ng-if="manualPayForm.lastBankcardNo.$touched">
                    <div ng-message="required">
                      <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                        <div class="arrow" style="left: 50%;"></div>
                        <h3 class="popover-title" style="display: none;"></h3>
                        <div class="popover-content">必填</div>
                      </div>
                    </div>
              </div>
          </div>
          <div class="form-group">
              <label>充值地点：</label>
              <select class="form-control fk-cashInOut-select" ng-change="cashInOut.selectProvince(cashInOut.editData.province)" ng-model="cashInOut.editData.province">
                <option ng-repeat="option in cashInOut.provinces" value="{{option.id}}">{{option.name}}</option>
              </select>
              <div class="has-error"
                    ng-messages="manualPayForm.aliPayName.$error"
                    ng-if="manualPayForm.aliPayName.$touched">
                    <div ng-message="required">
                      <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                        <div class="arrow" style="left: 50%;"></div>
                        <h3 class="popover-title" style="display: none;"></h3>
                        <div class="popover-content">必填</div>
                      </div>
                    </div>
              </div>
          </div>
          <div class="form-group">
              <label></label>
              <select class="form-control fk-cashInOut-select" ng-change="cashInOut.selectCity(cashInOut.editData.city)" ng-model="cashInOut.editData.city">
                <option ng-repeat="option in cashInOut.cities" value="{{option.id}}">{{option.name}}</option>
              </select>
              <div class="has-error"
                    ng-messages="manualPayForm.aliPayName.$error"
                    ng-if="manualPayForm.aliPayName.$touched">
                    <div ng-message="required">
                      <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                        <div class="arrow" style="left: 50%;"></div>
                        <h3 class="popover-title" style="display: none;"></h3>
                        <div class="popover-content">必填</div>
                      </div>
                    </div>
              </div>
          </div>
          <div class="form-group">
              <label></label>
              <select class="form-control fk-cashInOut-select" id="sel1" ng-model="cashInOut.editData.district">
                <option ng-repeat="option in cashInOut.districts" value="{{option.id}}">{{option.name}}</option>
              </select>
              <div class="has-error"
                    ng-messages="manualPayForm.aliPayName.$error"
                    ng-if="manualPayForm.aliPayName.$touched">
                    <div ng-message="required">
                      <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                        <div class="arrow" style="left: 50%;"></div>
                        <h3 class="popover-title" style="display: none;"></h3>
                        <div class="popover-content">必填</div>
                      </div>
                    </div>
              </div>
          </div>
          <div class="form-group">
              <label>充值金额 ：</label>
              <input type="text"
                     name="amount"
                     ng-model="cashInOut.editData.amount"
                     placeholder=""
                     class="form-control"
                     required />
              <div class="has-error"
                    ng-messages="manualPayForm.amount.$error"
                    ng-if="manualPayForm.amount.$touched">
                    <div ng-message="required">
                      <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                        <div class="arrow" style="left: 50%;"></div>
                        <h3 class="popover-title" style="display: none;"></h3>
                        <div class="popover-content">必填</div>
                      </div>
                    </div>
              </div>
          </div>
          <input type="submit"
                 class="btn btn-primary y btn-lg btn-block"
                 value="确定"
                 ng-click="cashInOut.manualTopUp()"
                 ng-disabled="manualPayForm.$invalid"
                 style="margin:30px 0 20px 0;"/>

          <div class="tips-block">
           <p class="title">温馨提示</p>
           <p class="p">1.为避免出现重复添加的情况，存款申请同一时间只允许提交一次。</p>
           <p class="p">2.为防止少部分会员恶意提交申请，存款申请在规定时间被取消后，将不能再次手工提交。</p>
           <p class="p">3.如果您有任何问题，欢迎随时联系我们的24小时在线客服，我们将竭诚为您服务。 </p>
          </div>
        </form>
      </div>

        <form class="fk-aliPay-form" name="aliPayQRForm" ng-if="!(cashInOut.showAlipayTopUp) && (cashInOut.aliPayProposal.data.proposalId)">
          <div class="payments-node">
            <p style="font-size:16px">方式一 :</p>
            <br>
              <div class="tips-block">
                <div class="qrcode-block">
                  <img src="{{cashInOut.aliPayProposal.data.alipayQRCode || cashInOut.aliPayProposal.data.result.alipayQRCode}}">
                </div>

                <input type="submit"
                       class="btn btn-primary y btn-lg btn-block"
                       value="取消转账"
                       ng-click="cashInOut.cancelAlipayTopup()"
                       ng-disabled="manualPayForm.$invalid"
                       style="margin:30px 0 20px 0;"/>

                <p class="title">温馨提示</p>
                <p class="p">1.长按二维码图片并保存图片到手机。</p>
                <p class="p">2.打开支付宝，点击右上角+号，选择“扫一扫”，然后点击右上角相册，从手机选择刚才保存的二维码图片。</p>
                <p class="p">3.选择图片确认后将进入支付页面，请在<b>备注里输入您的账号，方便财务部门核查转账信息。</b> </p>
              </div>
          </div>

          <div class="payments-node">
            <p style="font-size:16px">方式二 :</p>
            <br>
              <div class="tips-block">
               <p class="title">温馨提示</p>
               <p class="p">1.点击【进入支付宝】登陆支付宝账号。</p>
               <p class="p">2.向网站支付宝：<b>m331762@163.com</b>转账。</p>
               <p class="p">3.请在付款说明填写游戏账号以便核对存款。</p>
              </div>

              <img class="row" src="/assets/images/CashInOut/tutorial-aliPay.png"/>

              <input type="submit"
                     class="btn btn-primary y btn-lg btn-block"
                     value="进入支付宝"
                     ng-click="cashInOut.openInNewTab('https://shenghuo.alipay.com/send/payment/fill.htm')"
                     ng-disabled="manualPayForm.$invalid"
                     style="margin:30px 0 20px 0;"/>
          </div>
        </form>
    </div>
  </div>
  <footer-menu selected="'cashinout'"></footer-menu>

</div>



<!--  Modal  -->
<div class="modal fade"
     id="manualPayModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">手工充值提示</h4>
      </div>
      <div class="modal-body">

        <div ng-show="cashInOut.manualPayMessage">
          <div style="text-align: center;">
            {{cashInOut.manualPayMessage}}
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
