.userDt{
    background-color:#CECECE;
    padding:30px;
}

.hint{
    color:#2883dc
}
.p20{
    padding:20px;
}

.p-credit-smsCode{
    font-size:15px;
    position: absolute;
    right: 0px;
    margin-top: 22px;
    margin-right: 10px;
    text-align: justify;
    width: 60px;
    font-weight: 400;
    top:-15px;
    z-index:2;
    border-radius: 10px;
}

.p-credit-acc{
    position:relative;
    z-index:1;
}

.p-user-info{
    padding:7px 0px 7px 0px;
}

.commission-hint{
    padding-top:30px;
    color:#696969;
}
.ptop20{
    padding-top:20px;
}