<div class="fk-transfer container-fluid">
  <div class="row">
    <page-header title="'游戏转账'" back="true" background="true" href="'#/accountcenter'"></page-header>
    <div class="row mAll0 bgWhite">
      <div class="col-md-12 amountBar bgWhite w100p p4">
        <div class="col-xs-6 col-md-6 p5">本地额度
        </div>
        <div class="col-xs-6 col-md-6 p5">
          <div class="text-right">{{transfer.credit}}元</div>
        </div>
      </div>
    </div>
    <div class="row mAll0 bgWhite mtop10">
      <div class="col-md-12 pBottom30 transfer-creditFont">
        <div class="row">
          <div class="col-xs-12 col-md-12 gameTableHead">
            <div class="col-xs-4 col-md-4 col-lg-4">
              <b>游戏大厅</b>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4">
              <b>游戏余额</b>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4">
              <b>游戏状态</b>
            </div>
          </div>

          <div class="col-xs-12 col-md-12 gameTable" ng-repeat="pr in transfer.providerList">
            <div class="col-xs-4 col-md-4 col-lg-4 transfer-vmiddle">
              <!-- <input type="radio" class="providerRadio" name="provider" value="{{pr.providerId}}" ng-model="transfer.provider"><span class="pLeft3">{{pr.nickname}}</span> -->
              <span class="pLeft3">{{pr.nickname}}</span>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 text-right">
              {{pr.credit}}
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 text-center">
              {{pr.statusName}}
            </div>
          </div>
        </div>
        <div class="row mAll0 w100p mtop20">
          <select ng-model="transfer.transferType" class="form-control w100p" ng-init="0">
            <option value="0" selected="selected">转入到游戏</option>
            <option value="1">转出到本地</option>
          </select>
        </div>
        <div class="mtop40 w100p bgWhite">
          <button class="btn btn-primary w100p" ng-click="transfer.transferCredit();">确认</button>
        </div>
      </div>
    </div>
  </div>
</div>
