<div class="fk-rewardTopup container-fluid">

  <div class="fk-scrollable row">
    <div class="fk-scrollable-content col-md-12">

      <page-header background="true" back="true" cs="false" logo="true" credit="true" href="'#/reward'"></page-header>

      <div class="col-md-12">
        <img class="ls-rewardTopup" src="/assets/images/reward/bannn3.jpg"/>
      </div>
      <div class="text-1">首存优惠</div>

      <table class="table-1 center qrTable" border>
        <thead>
            <th width="25%">存款金额</th>
            <th width="25%">优惠比率</th>
            <th width="25%">流水倍数</th>
            <th width="25%">最高红利</th>
        </thead>
        <tbody>
            <tr>
                <td>>100</td>
                <td>100%</td>
                <td>28</td>
                <td>888</td>
            </tr>
          </tbody>
      </table>
      <br>
      <div class="rc-text2">【活动对象】</div>
      <div class="text-4"> 所有新注册玩家。</div>
      <br>
      <div class="rc-text2">【领取方式】</div>
      <div class="text-4"> 第一笔存款添加之后尚未投注前，请登录游戏账号，点击【最新优惠】，选择【首存优惠】进行申请。</div>
      <br>
      <div class="rc-text2">【提款要求】</div>
      <div class="text-4"> 玩家提款前，需达到（存款+优惠）*28的有效投注额，即可办理提款。</div>
      <div class="text-4">举例：小宝存款100元，申请100%首存优惠，需达到（100+100）*28=5600流水即可办理提款。</div>
      <div class="col-md-12">
        <br><br>
        <div class="applyBtn" ng-click="rewardfirstdeposit.applyRewardEvent()"></div>
      </div>
      <br>
      <div class="rc-text2">【注意事项】</div>
      <div class="text-4"> 1.如玩家在优惠未到账情况下参与投注，捕鱼皇视玩家主动放弃申请首存礼金，不予以添加优惠。</div>
      <div class="text-4"> 2.首存优惠所完成的流水不可与戏码优惠共享。</div>
      <div class="text-4"> 3.每一笔存款只能选择一种优惠申请，如此笔存款已申请笔笔存，则无法申请其它优惠。</div>
      <div class="text-4"> 4.如系统发现玩家有同IP/多冲账号/无风险投注，捕鱼皇将扣除红利以及盈利，并返还本金。</div>
      <div class="text-4"> 5.若账户余额高于5元，则该笔存款的有效投注额会被累计到下一笔存款。</div>
      <div class="text-4"> 6.本网站保留对活动进行修改、最终解释和终止的权力，而无需提前通知，并对于任何争议具有最终决定权。</div>

      <div class="mtop20 mbot20 mh100">

      </div>
      <!--<div class="mtop20 mbot20 mh100">-->
        <!--<div class="col-md-12" style="min-height:50px;">-->
        <!--<div class="col-md-1 col-xs-1"></div>-->
        <!--&lt;!&ndash;<div class="col-md-10 col-xs-10">&ndash;&gt;-->
        <!--&lt;!&ndash;<label>请选择存款</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<select class="form-control" ng-model="rewardtopup.topup">&ndash;&gt;-->
        <!--&lt;!&ndash;<option ng-repeat="reward in rewardtopup.topupHistory" value="{{reward._id}}">{{reward.createTime |&ndash;&gt;-->
        <!--&lt;!&ndash;date:'yyyy-MM-dd HH:mm:ss'}} - $ {{reward.amount}}&ndash;&gt;-->
        <!--&lt;!&ndash;</option>&ndash;&gt;-->
        <!--&lt;!&ndash;</select>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="col-md-1 col-xs-1">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-12" style="margin-top: 15px;">-->
          <!--<a href="#/rewardtopupselection">-->
            <!--<div class="applyBtn"></div>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <footer-menu name="'promotion'"></footer-menu>
</div>
