.fk-login {
  background-image: url("/assets/images/loginBg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: right bottom;
  padding: 0;
}

.fk-login-logo {
  background-image: url("/assets/images/loginLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin: 60px auto 50px;
  text-align: center;
  height: 100px;
  width: 316px;
}

.fk-login .form-control {
  height: 46px;
  font-size: 12px;
}

.fk-login .form-group {
  position: relative;
}

.fk-login-form {
  padding: 0 10px;
}

.fk-login input[type="text"], .fk-login input[type="password"] {
  padding-left: 50px;
}

.fk-login .btn-login {
  background-color: #ffc001 !important;
  font-weight: bold;
}

.fk-login .btn-get-captcha {
  position: absolute;
  top: 5px;
  right: 3px;
}

.fk-login-link, .fk-login-link:hover, .fk-login-link:focus {
  color: #ffffff;
  text-decoration: underline;
  display: inline-block;
  margin: 60px 5px 0;
}

.fk-login-link-wrapper {
  width: 100%;
  text-align: center;
}

.fk-login .ic-user {
  background-image: url("/assets/images/loginUser.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  margin-top: 7px;
  margin-left: 10px;
}

.fk-login .ic-locker {
  background-image: url("/assets/images/loginLock.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7px;
  margin-left: 10px;
}

.fk-login .ic-phone {
  background-image: url("/assets/images/signup/signupPhone.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  margin-top: 7px;
  margin-left: 10px;
}

@media (max-width: 415px) {
  .fk-login-logo {
    margin-top: 40px !important;
    height: 60px;
    width: 190px;
  }
}

