.blueTitle{
    margin-top:10px;
    font-width:bold;
    border-left:3px solid #238ce8;
    color:#238ce8;
    padding:5px;
    font-size:1.1em;
}

.parag{
    margin-top:40px;
}


.underline {
  text-decoration: underline;
}

ul li{list-style-type: decimal;}

.submitBtn{
  min-height:50px;
  background-image: url("/assets/images/advertising/join_1.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 200px 50px;
  margin-bottom:40px;
  cursor:pointer;
}

.bgGray1{
  color:#777;
}