<div class="fk-main container-fluid">

  <div class="fk-scrollable2 row">
    <div class="fk-scrollable2-content col-md-12">
      <page-header cs="true" background="true" logo="true" credit="true" login="true"></page-header>
      <div class="fk-slider col-md-12">
        <div class="fk-banner-home"></div>
        <a class="fk-banner-signup" href="#/register"></a>
        <a class="fk-banner-download" href="http://td99.neweb.me/byh/m/index.html" target="_blank"></a>
        <!--<div class="fk-dl-qr"></div>-->
      </div>
      <div class="fk-notice col-md-12">
        <div class="fk-ticker">
          <span class="fk-ticker-title">
            <span class="fk-ticker-icon"></span>
            <span class="fk-ticker-text">游戏公告:</span>
          </span>
          <div
            ng-class="{fast:'marquee marquee-speed-fast', normal:'marquee marquee-speed-normal', slow:'marquee marquee-speed-slow'}[main.speed]"
            data-marquee="{{main.notices}}"></div>
        </div>
      </div>
      <!--<div class="fk-menu col-md-12">-->
      <!--<div class="fk-menu-promotion btn"><span class="fk-btn-icon"></span><span class="fk-btn-txt">优惠活动</span></div>-->
      <!--<div class="fk-menu-cashinout btn"><span class="fk-btn-icon"></span><span class="fk-btn-txt">充值提款</span></div>-->
      <!--<div class="fk-menu-earning btn"><span class="fk-btn-icon"></span><span class="fk-btn-txt">挣钱分成</span></div>-->
      <!--</div>-->
      <div class="fk-body col-md-12" ng-show="main.gameList && main.gameListDone">
        <div class="fk-game fk-game1">
          <div class="fk-game-avatar">
            <div class="fk-game-play">
              <div class="fk-game-real btn" ng-click="main.playGame('EBETFISH')">进入游戏</div>
              <!-- <div class="fk-game-trial btn" ng-click="main.testGame('EBETFISH')">免费试玩</div> -->
            </div>
          </div>
        </div>
        <!--<div class="fk-game fk-game2">-->
        <!--<div class="fk-game-avatar">-->
        <!--<div class="fk-game-play">-->
        <!--<div class="fk-game-real btn" ng-click="main.playGame('shenhai')">真钱游戏</div>-->
        <!--<div class="fk-game-trial btn" ng-click="main.testGame('shenhai')">免费试玩</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="fk-game-desc">-->
        <!--<div class="fk-game-icon"></div>-->
        <!--<div class="fk-game-text">-->
        <!--<div class="fk-game-name">深海大赢家</div>-->
        <!--<div class="fk-game-total-online">10.88M/10W人在线</div>-->
        <!--</div>-->
        <!--<div class="fk-game-download btn btn-primary btn-sm">下载APP</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--
        <div class="fk-game fk-game3">
          <div class="fk-game-avatar">
            <div class="fk-game-play">
              <div class="fk-game-real btn" ng-click="main.playGame('GG Fish')">真钱游戏</div>
              <div class="fk-game-trial btn" ng-click="main.testGame('GG Fish')">免费试玩</div>
            </div>
          </div>
          <div class="fk-game-desc">
            <div class="fk-game-icon"></div>
            <div class="fk-game-text">
              <div class="fk-game-name">捕鱼天下</div>
              <div class="fk-game-total-online">10.88M/10W人在线</div>
            </div>
            <div class="fk-game-download btn btn-primary btn-sm">下载APP</div>
          </div>
        </div>
        <div class="fk-game fk-game4">
          <div class="fk-game-avatar">
            <div class="fk-game-play">
              <div class="fk-game-real btn" ng-click="main.playGame('Fu Fish')">真钱游戏</div>
              <div class="fk-game-trial btn" ng-click="main.testGame('Fu Fish')">免费试玩</div>
            </div>
          </div>
          <div class="fk-game-desc">
            <div class="fk-game-icon"></div>
            <div class="fk-game-text">
              <div class="fk-game-name">捕鱼多福</div>
              <div class="fk-game-total-online">10.88M/10W人在线</div>
            </div>
            <div class="fk-game-download btn btn-primary btn-sm">下载APP</div>
          </div>
        </div>
      -->
      </div>
    </div>
  </div>

  <footer-menu name="'game'"></footer-menu>

</div>
<!-- Modal -->
<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        {{main.message}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">提示</h4>
      </div>
      <div class="modal-body">
        确定进入游戏？
      </div>
      <div class="modal-footer">
        <a type="button" target="_blank" ng-href="{{main.gameUrl}}" class="btn btn-default">确定</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
