.partner-sub-title {
  padding-top: 20px;
  font-size: large;
}

.partner-info {
  font-size: normal;
  color: #A0A0A0;
}

.partner-amount {
  font-size: xx-large;
}

.partner-promote {
  background-color: white;
  padding: 5px 13px 2px 2px !important;
  font-size: xx-small;
  border-radius: 1px !important;

}

.h70 {
  height: 70px;
}

.h150 {
  min-height: 150px;
}

.h160 {
  min-height: 160px;
}

.padding5 {
  padding: 5px;
}

.mhg50 {
  min-height: 50px;
}

.mh65 {
  min-height: 65px;
}

.mh70 {
  min-height: 70px;
}

.mh90 {
  min-height: 90px;
}

.mh160 {
  min-height: 160px;
}

.partner-desc {
  color: white;
  font-size: small;
}

.whiteFont {
  color: white;
}

.promotionLink {
  font-size: 1.2em;
  padding: 8px 0px 0px 0px;
  min-height: 25px;
}

.ic-partner-member {
  background-image: url("/assets/images/partner/user.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.ic-partner-transfer {
  background-image: url("/assets/images/partner/transfer.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.ic-partner-cashout {
  background-image: url("/assets/images/partner/partner-cashout.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.partner-menu span {

  margin-right: 5px !important;
}

.partner-menu a {
  text-decoration: none;
  color: white;
}

.urlAddr {
  text-decoration: underline;
  font-size: 0.8em;
}

.blueBTN {

  background-color: #1e8feb;
}

.autoHeight {
  height: auto;
}

.partner-reward {
  background-color: #ffffff;
  margin-bottom: 10px;
  overflow: scroll;
}

.partner-commission {
  /*height:160px;*/
  background-color: #ffffff;
  margin-bottom: 10px;
  overflow: scroll;
}

.prevSlide1 {
  background-image: initial !important;
}

.nextSlide1 {
  background-image: initial !important;
}

.prevSlide2 {
  outline: none;
  background-image: initial !important;
}

.nextSlide2 {
  outline: none;
  background-image: initial !important;
}

.prevSlide3 {
  background-image: initial !important;
  height: auto;
}

.nextSlide3 {
  background-image: initial !important;
  height: auto;
}

.noZIndex {
  z-index: 0;
}

.mbot100 {
  margin-bottom: 100px;
}

.carouselPosition {

  height: 160px;
  position: relative
}

.ptop20 {
  padding-top: 20px;
}

.ptop45 {
  padding-top: 45px;
}

.bg-li {
  background-color: #434343 !important;
}
