<div class="fk-records container-fluid">
  <div class="fk-scrollable row">
      <page-header title="'会员往来记录'" dashboardpage="true" back="false" background="true" href="'#/dashboard'"></page-header>
      <div class="col-md-12 bgWhite">
        <table class="table table-striped">
          <tr>
            <td width="50%">
                 <div class="rt-insideText">开始时间:</div>
                 <div class="col-10 input-group-btn">
                  <input type="text" id="startDate" class="form-control qs-inputText">
                 </div>
            </td>
            <td width="50%">
                 <div class="rt-insideText">结束时间:</div>
                 <div class="col-10 input-group-btn">
                  <input type="text" id="endDate" class="form-control qs-inputText">
                 </div>
            </td>
          </tr>
          <tr>
            <td>
                 <div class="qs-insideText">每页显示:</div>
                 <div class="qs-inputText">
                  <select class="form-control bgGray" ng-model="partnertransaction.pgLimit">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
                 </div>
            </td>
            <td>
              <div class="fRight">
                 <button class="text-right btn btn-primary" ng-click="partnertransaction.searchTransaction(true)">查询</button>
              </div>
            </td>
          </tr>
        </table>
    </div>
  </div>
           <!-- topUpHistory -->
           <div class="bgWhite qResult row mtop10">
            <div>
              <table class="table table-responsive">
                <thead class="bgThead">
                  <tr>
                    <th>账户</th>
                    <th>开户时间</th>
                    <th>最后登录时间</th>
                    <th>最后存款时间</th>
                    <th>总存笔数</th>
                    <th>总提笔数</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="commission in partnertransaction.transactionRecord.players">
                    <td>{{commission.playerName}}</td>
                    <td>{{commission.registrationTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{commission.lastAccessTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{commission.lastTopUpTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{commission.totalTopUpTimes}}</td>
                    <td>{{commission.totalBonusTimes}}</td>
                  </tr>
                  <tr ng-if="partnertransaction.transactionRecordStats.totalCount==0">
                    <td colspan="4">暂无记录</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>页总数: </td>
                    <td>{{partnertransaction.transactionRecord.summary.totalTopUpTimes || 0}}</td>
                    <td>{{partnertransaction.transactionRecord.summary.totalBonusTimes || 0}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>全总数: </td>
                    <td>{{partnertransaction.transactionRecord.pageSummary.totalTopUpTimes || 0}}</td>
                    <td>{{partnertransaction.transactionRecord.pageSummary.totalBonusTimes || 0}}</td>
                  </tr>

                </tbody>
              </table>
              <nav aria-label="...">
                <ul class="pagination pagination-lg pagin2">
                  <li class="page-item" ng-if="partnertransaction.totalPg">
                    <a class="page-link" ng-click="partnertransaction.tabtoPg('-1')">上一页</a>
                  </li>
                  <li class="page-item"  data-current="{{n}}" ng-repeat="n in partnertransaction.totalPg">
                    <a class="page-link" ng-click="partnertransaction.tabtoPg(n)">{{n}}
                    </a></li>
                  <li class="page-item" ng-if="partnertransaction.totalPg">
                    <a class="page-link" ng-click="partnertransaction.tabtoPg('+1')">下一页</a>
                  </li>
                  </ul>
                </nav>
              </div>
          </div>
           <!-- end of topUpHistory -->

</div>
