<div class="fk-rewardTopup container-fluid">

  <div class="fk-scrollable row">
    <div class="fk-scrollable-content col-md-12">

      <page-header background="true" back="true" cs="false" logo="false" title="'活动详情'" credit="false" href="'#/rewardtopup'"></page-header>
      <div class="col-md-12">
        <div class="ls-topup-history">
          <div class="ls-topup-history-item" ng-repeat="item in rewardtopupselection.topupHistory" ng-class="{'cs-popup-selcted':rewardtopupselection.selectedTopupId == item._id}"
               ng-click="rewardtopupselection.selectedTopupId = item._id">
            <div>存款时间: {{item.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</div>
            <div>存款方式: {{rewardtopupselection.getChineseNameByTopupType(item.topUpType)}}</div>
            <div>存款金额: {{item.amount}}</div>
          </div>
          <div class="btn btn-primary btn-block btn-apply-reward" ng-click="rewardtopupselection.applyRewardEvent();">确认</div>
        </div>
      </div>
    </div>
  </div>
</div>
