<div class="fk-rewardTopup container-fluid">

  <div class="fk-scrollable row">
    <div class="fk-scrollable-content col-md-12">

      <page-header background="true" back="true" cs="false" logo="true" credit="true" href="'#/reward'"></page-header>

      <div class="col-md-12">
        <img class="ls-rewardTopup" src="/assets/images/reward/bannn3.jpg"/>
      </div>
      <div class="text-1">充值特惠</div>

      <table class="table-1 center qrTable" border>
        <thead>
            <th></th>
            <th>充值额度</th>
            <th>优惠额</th>
            <th>提款流水</th>
            <th>最大优惠额</th>
        </thead>
        <tbody>
          <tr>
              <td>充值特惠A</td>
              <td>100元以上</td>
              <td>10%</td>
              <td>12</td>
              <td>1288</td>

          </tr>
          <tr>
              <td>充值特惠B</td>
              <td>1000元以上</td>
              <td>38%</td>
              <td>20</td>
              <td>3888</td>
          </tr>
          </tbody>
      </table>
      <br>
      <div class="rc-text2">【活动对象】</div>
      <div class="text-4"> 捕鱼皇所有玩家。</div>
      <br>
      <div class="rc-text2">【领取方式】</div>
      <div class="text-4"> 新会员在提交存款信息后，在投注、提款之前，登录游戏账号点击【最新优惠】，选择【存送优惠】进行申请。</div>
      <br>
      <div class="rc-text2">【提款要求】</div>
      <div class="text-4"> 玩家提款前，需达到（存款+优惠）*相对应流水倍数的有效投注额，即可办理提款。</div>
      <div class="text-4"> 举例：小宝存款1000元，申请38%充值特惠，需达到（1000+380）*20=27600流水即可办理提款。</div>
      <br>
      <div class="rc-text2">【注意事项】</div>
      <div class="text-4"> 1.存款越多，可申请的优惠越高。</div>
      <div class="text-4"> 2.此优惠活动可与洗码优惠、七日礼包共享。</div>
      <div class="text-4"> 3.若账户余额高于5元，则该笔存款的有效投注额会被累计到下一笔存款。</div>
      <div class="text-4"> 4.本网站保留对活动进行修改、最终解释和终止的权力，而无需提前通知，并对于任何争议具有最终决定权。</div>
      <!--<div class="text-3"> 会员参加任何捕鱼皇优惠活动都被视为认可并同意遵守这些规则以及本娱乐场准则规定。捕鱼皇保留对活动进行修改，最终解释和终止的权力，而无需提前通知，并对于任何争议具有最终决定权。-->
      <div class="col-md-12"  style="padding-left:15%">
        <br><br>

        <table width="80%">
          <tr>
            <td align="center">
              <div class="btn btn-primary" ng-click="rewardtopup.applyRewardEvent('chtha')">我要领取A</div>
            </td>
            <td align="center">
              <div class="btn btn-primary" ng-click="rewardtopup.applyRewardEvent('chthb')">我要领取B</div>
            </td>
          </tr>
        </table>
      </div>

      <div class="mtop20 mbot20 mh100">
        <div class="col-md-12" style="min-height:50px;">
          <div class="col-md-1 col-xs-1"></div>
          <div class="col-md-1 col-xs-1">
          </div>
        </div>

      </div>
      <!--<div class="mtop20 mbot20 mh100">-->
        <!--<div class="col-md-12" style="min-height:50px;">-->
        <!--<div class="col-md-1 col-xs-1"></div>-->
        <!--&lt;!&ndash;<div class="col-md-10 col-xs-10">&ndash;&gt;-->
        <!--&lt;!&ndash;<label>请选择存款</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<select class="form-control" ng-model="rewardtopup.topup">&ndash;&gt;-->
        <!--&lt;!&ndash;<option ng-repeat="reward in rewardtopup.topupHistory" value="{{reward._id}}">{{reward.createTime |&ndash;&gt;-->
        <!--&lt;!&ndash;date:'yyyy-MM-dd HH:mm:ss'}} - $ {{reward.amount}}&ndash;&gt;-->
        <!--&lt;!&ndash;</option>&ndash;&gt;-->
        <!--&lt;!&ndash;</select>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="col-md-1 col-xs-1">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-12" style="margin-top: 15px;">-->
          <!--<a href="#/rewardtopupselection">-->
            <!--<div class="applyBtn"></div>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <footer-menu name="'promotion'"></footer-menu>
</div>
