html * {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.fk-slider {
  background-color: #239afe;
  padding: 0;
}

.fk-banner-home {
  display: block;
  margin: auto;
  width: 100%;
  height: 450px;
  background-color: #239afe;
  background-image: url("/assets/images/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fk-dl-qr {
  background-image: url("/assets/images/bannerQr.png");
  width: 127px;
  height: 127px;
  top: 265px;
  right: 0px;
  margin-right: 169px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.fk-banner-signup {
  background-image: url("/assets/images/bannerSignup1.png");
  width: 200px;
  height: 60px;
  top: 260px;
  left: 24%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;

}

.fk-banner-download {
  background-image: url("/assets/images/bannerDownload1.png");
  width: 200px;
  height: 60px;
  top: 330px;
  left: 24%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.fk-notice {
  background-color: #239afe;
  height: 60px;
  padding-top: 15px;
}

.fk-footer {
  width: 100%;
  height: 100px;
  background-color: #0c6cb9;
  position: fixed;
  bottom: 0;
  padding: 0;
  font-size: 0;
}

.fk-footer-btn {
  vertical-align: top;
  background-color: #0b6db8;
  height: 100%;
  width: 18%;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.fk-footer-icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin: 25px auto 5px;
  width: 30px;
  height: 30px;
  vertical-align: top;
}

.fk-footer-text {
  display: block;
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 415px) {
  .fk-notice {
    height: 50px;
    padding-top: 10px;
  }

  .fk-footer {
    height: 80px;
  }

  .fk-footer-icon {
    margin: 20px auto 5px;
    width: 25px;
    height: 25px;
  }

  .fk-footer-text {
    font-size: 12px;
  }

  .fk-banner-home {
    width: 100%;
    height: 242px;
  }

  .fk-dl-qr {
    width: 68px;
    height: 68px;
    top: 143px;
    right: 0px;
    margin-right: 91px;
  }

  .fk-banner-signup {
    width: 100px;
    height: 32px;
    top: 144px;
    left: 24%;
  }

  .fk-banner-download {
    width: 100px;
    height: 32px;
    top: 180px;
    left: 24%;
  }

}

/*@media (max-width: 375px) {*/
/*.fk-banner-home {*/
/*width: 100%;*/
/*}*/

/*.fk-dl-qr {*/
/*width: 62px;*/
/*height: 62px;*/
/*top: 129px;*/
/*right: 0px;*/
/*margin-right: 83px;*/
/*}*/

/*}*/

@media (max-width: 320px) {
  .fk-banner-home {
    width: 100%;
    height: 187px;
  }

  .fk-dl-qr {
    width: 52px;
    height: 52px;
    top: 111px;
    right: 0px;
    margin-right: 71px;
  }

  .fk-banner-signup {
    width: 80px;
    height: 30px;
    top: 110px;
    left: 24%;
  }

  .fk-banner-download {
    width: 80px;
    height: 30px;
    top: 140px;
    left: 24%;
  }
}

.fk-footer-divider {
  background-image: url("/assets/images/footerMenu/footerMenuDivider.png");
  vertical-align: top;
  height: 100%;
  width: 2px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.btn-game .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/game.png");
}

.fk-footer-btn-selected.btn-game .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/gameSelected.png");
}

.btn-promotion .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/promotion.png");
}

.fk-footer-btn-selected.btn-promotion .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/promotionSelected.png");
}

.btn-enter-game.fk-footer-btn {
  width: 28%;
}
.btn-enter-game .fk-footer-icon {
  margin: 0;
  width: 100%;
  padding-top: 100%;
  bottom: calc(28vw - 100%);
  position: relative;
  left: 0;
  background-position: center;
  background-image: url("/assets/images/footerMenu/enterGame.png");
}

.fk-footer-btn-selected.btn-enter-game .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/enterGameSelected.png");
}

.btn-cashinout .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/cashInOrOut.png");
}

.fk-footer-btn-selected.btn-cashinout .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/cashInOrOutSelected.png");
}

.btn-earning .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/earnMoney.png");
}

.fk-footer-btn-selected.btn-earning .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/earnMoneySelected.png");
}

.btn-account .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/account.png");
}

.fk-footer-btn-selected.btn-account .fk-footer-icon {
  background-image: url("/assets/images/footerMenu/accountSelected.png");
}

.fk-footer-btn:last-child {
  border: none;
}

.fk-footer-btn-selected {
  background-color: #095392;
}

.fk-footer-btn-selected .fk-footer-text {
  color: #08fd64;
}

.modal-header {
  background-color: #1e8feb;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.modal .btn, .modal .btn:hover {
  background-color: #1e8feb;
  color: #fff;
  border-color: #1e8feb;

}

.fk-scrollable-content {
  height: 100%;
  overflow-y: scroll;
  padding: 0 !important;
}

.fk-scrollable2-content {
  height: 100%;
  overflow-y: hidden;
  padding: 0 !important;
}

.fk-footer a:hover, .fk-footer a:focus {
  text-decoration: none;
}

.fk-menu {
  height: 90px;
  padding: 0;
  background-color: #ffffff;
}

.fk-menu div {
  display: inline;
  width: 30%;
  height: 60px;
  background-color: #2aabd2;
  text-align: center;
  position: relative;
  margin: 15px 0 0 2.5%;
  padding: 0;
  vertical-align: top;
  font-size: 14px;
  float: left;
  border-radius: 6px;
}

.fk-menu-promotion {
  background-color: #ff9913 !important;
}

.fk-menu-cashinout {
  background-color: #729ae2 !important;

}

.fk-menu-earning {
  background-color: #42b86c !important;

}

.fk-main {
  background-color: #eee;
}
