.fk-news{
    padding: 0;
}
.bgColor{
    background-color: #eeeeee;
    min-height:764px;	
}

.bgWhite{
  background-color: #eeeeee;
}
.newsTitle{
    border-bottom:1px solid #CECECE;
    padding-left:5px;
}

.newsItem{
    border-top:1px solid #CECECE;
    border-bottom:1px solid #CECECE;
    padding:20px;
}

.newsContent{
    font-size:large;
    margin-bottom:5px;
}

.newsDate{
    margin-top:10px;
    font-size:small;

}

a ,a:hover{
  color: black;
  text-decoration: none; /* no underline */
}

.blueCircle{
	width:20px;
	height:20px;
	border-radius:50px;
	font-size:20px;
	color:#fff;
	line-height:100px;
	text-align:center;
	background:#000
}

