<div class="fk-cashInOut-center container-fluid" style="background-color:#F2F2F2;">

  <div class="fk-scrollable row">
    <div class="fk-scrollable-content col-md-12">
      <page-header title="'支付宝转账'" back="true" background="true" href="'#/cashInOut/cashIn'"></page-header>
      <div class="payments-bg" ng-if="cashInOut.showAlipayTopUp">
        <div class="tips-round">
          <div class="tips-block font9">
            <p class="title">温馨提示</p>
            <p class="p">1.为避免出现重复添加的情况，存款申请同一时间只允许提交一次。</p>
            <p class="p">2.为防止少部分会员恶意提交申请，存款申请在规定时间被取消后，将不能再次手工提交。</p>
            <p class="p">3.如果您有任何问题，欢迎随时联系我们的24小时在线客服，我们将竭诚为您服务。 </p>
          </div>
        </div>
        <div class="payments-round">
          <form class="fk-aliPay-form" name="aliPayForm">

            <div class="form-group">
              <div class="form-group">
                <label>充值金额:</label>
                <input type="number" name="aliPayTopUpAmount" ng-model="cashInOut.aliPayTopUp" placeholder="{{ cashInOut.displayAlipayLimit }}"
                  class="form-control" ng-min="10" ng-max="{{cashInOut.alipayManualSingleLimit}}" required />
                <div class="has-error" ng-messages="aliPayForm.aliPayTopUpAmount.$error" ng-if="aliPayForm.aliPayTopUpAmount.$touched">
                  <div ng-message="required">
                    <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                      <div class="arrow" style="left: 50%;"></div>
                      <h3 class="popover-title" style="display: none;"></h3>
                      <div class="popover-content">必填</div>
                    </div>
                  </div>
                  <div ng-message="max">
                    <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                      <div class="arrow" style="left: 50%;"></div>
                      <h3 class="popover-title" style="display: none;"></h3>
                      <div class="popover-content">单次充值最多{{cashInOut.alipayManualSingleLimit}}元</div>
                    </div>
                  </div>
                  <div ng-message="min">
                    <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                      <div class="arrow" style="left: 50%;"></div>
                      <h3 class="popover-title" style="display: none;"></h3>
                      <div class="popover-content">充值金额不能小于10元</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>支付账号 :</label>
                <input type="text" style="font-size:8pt" name="aliPayName" ng-model="cashInOut.aliPayName" placeholder="请输入您的支付宝账号或支付宝账号昵称"
                  class="form-control" required />
                <div class="has-error" ng-messages="aliPayForm.aliPayName.$error" ng-if="aliPayForm.aliPayName.$touched">
                  <div ng-message="required">
                    <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                      <div class="arrow" style="left: 50%;"></div>
                      <h3 class="popover-title" style="display: none;"></h3>
                      <div class="popover-content">必填</div>
                    </div>
                  </div>
                </div>
              </div>

              <input type="submit" class="btn btn-primary y btn-lg btn-block" value="下一步" ng-click="cashInOut.requestAlipayTopup()" ng-disabled="aliPayForm.$invalid"
                style="margin:30px 0 20px 0;" />

            </div>

          </form>
        </div>
      </div>
      <!-- if the alipay didnt exist -->

      <form class="fk-aliPay-form" name="aliPayQRForm" ng-if="!(cashInOut.showAlipayTopUp) && (cashInOut.aliPayProposal.data.proposalId)">
        <div class="mps-bgWhite mtop10" style="min-height:640px">
          <div style="border-bottom:1px solid #CCC" class="text-center mps-sub-title"><b>申请充值状态</b>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="col-xs-5 col-md-5 ptop15">
                <div class="pLeft30 mh30">申请单号</div>
              </div>
              <div class="col-xs-6 col-md-6 mw20 mh30 ptop15">
                {{cashInOut.aliPayProposal.data.proposalId}}
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="col-xs-5 col-md-5 ">
                <div class="pLeft30 mh30">申请时间</div>
              </div>
              <div class="col-xs-6 col-md-6 mw20 mh30">
                {{cashInOut.aliPayProposal.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="col-xs-5 col-md-5 ">
                <div class="pLeft30 mh30">有效时间</div>
              </div>
              <div class="col-xs-6 col-md-6 mw20 mh30 lightBlueFont">
                {{cashInOut.aliPayTimeLeftText}}
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="col-xs-5 col-md-5 ">
                <div class="pLeft30 mh30">申请金额</div>
              </div>
              <div class="col-xs-6 col-md-6 mw20 mh30 lightBlueFont">
                {{cashInOut.aliPayProposal.data.amount}}
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="col-xs-5 col-md-5 ">
                <div class="pLeft30 mh30">当前状态</div>
              </div>
              <div class="col-xs-6 col-md-6 mw20 mh30 lightBlueFont">
                {{cashInOut.proposalStatus[cashInOut.aliPayProposal.status]}}
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="col-xs-5 col-md-5 ">
                <div class="pLeft30 mh30">操作</div>
              </div>
              <div class="col-xs-6 col-md-6 ">
                <!-- <div class="btn btn-primary">取消</div> -->
                <input type="submit" class="btn btn-primary y  btn-block lightBlue" value="取消" ng-click="cashInOut.cancelAlipayTopup()" ng-disabled="aliPayForm.$invalid"
                  style="width:100px;" />
              </div>
            </div>
          </div>
          <div class="mps-bank-info ali-bank-info">
            <div class="ali-blue-corner">
              <div class="text-center ali-blue-title">
                <h4><b>收款支付宝帐号</b></h4>
              </div>
              <div class="ali-blue-content">
                <div class="ali-blue-left-content">
                  <div class="ali-qrcode">
                    <div ng-if="cashInOut.aliPayProposal.data.alipayQRCode || cashInOut.aliPayProposal.data.result.alipayQRCode">
                      <a href="https://mobile.alipay.com/index.htm">
                          <img src="{{cashInOut.aliPayProposal.data.alipayQRCode || cashInOut.aliPayProposal.data.result.alipayQRCode}}" width="100" height="100"></a>
                    </div>
                  </div>
                  <div style="">帐号：{{cashInOut.aliPayProposal.data.alipayAccount}}</div>
                  <div style="">姓名：{{cashInOut.aliPayProposal.data.alipayName}}</div>
                </div>
                <div class="ali-blue-right-content">
                  <div>
                    <h5><b>支付宝扫码支付</b></h5>
                    <div>
                      <div>1.打开手机支付宝，选择【扫一扫】。</div>
                      <div>2.扫描下方二维码进行转帐。</div>
                      <div>3.请在【填写备注】填写游戏帐号以便核对存款。</div>
                    </div>
                  </div>
                  <div class="ptop30">
                    <h5><b>支付宝网站支付</b></h5>
                    <div>
                      <div>1.点击【进入支付宝】登陆支付宝帐号。</div>
                      <div>2.向以上支付宝帐号转帐。</div>
                      <div>3.请在【填写备注】填写游戏帐号以便核对存款。</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>
  <footer-menu selected="'cashinout'"></footer-menu>

</div>



<!--  Modal  -->
<div class="modal fade" id="aliPayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">支付宝提示</h4>
      </div>
      <div class="modal-body">

        <div ng-show="cashInOut.aliPayMessage">
          <div style="text-align: center;">
            {{cashInOut.aliPayMessage}}
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
