.fk-cashInOut-center .col-md-12 {
  padding: 0;
}

.fk-cashInOut-center .cio-avatar {
  background-color: #0c6cb9;
  height: auto;
  min-height: 17%;
  background-image: url("/assets/images/CashInOut/banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.fk-cashInOut-center .cio-nav {
  background-color: #1e8feb;
  height: 50px;
}

.fk-cashInOut-center .cio-nav ul {
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  vertical-align: top;
}

.fk-cashInOut-center .cio-nav-item {
  list-style: none;
  outline: none;
  margin: 0;
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 50%;
  vertical-align: top;
  color: #ffffff;
  font-weight: bold;
  height: 100%;
  font-size: 14px;
  cursor: pointer;
  line-height: 48px;
}

.fk-cashInOut-center .selected {
  color: #03f36e;
  border: 0;
  background-color: #1980d6;
  border-bottom: 3px solid #03f36e;
}

.fk-cashInOut-center .cio-nav-divider {
  background-image: url("/assets/images/footerMenu/footerMenuDivider.png");
  vertical-align: top;
  height: 100%;
  width: 2px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
}

.cio-space {
  height: 60px;
}

.fk-cashInOut-form {
  margin: 30px 15px 0px 15px;
}

.fk-cashInOut-form .form-group {
  position: relative;
}
.fk-cashInOut-form input[type=number]::-webkit-inner-spin-button, 
.fk-cashInOut-form input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.fk-cashInOut-form input[type="text"],
.fk-cashInOut-form input[type="number"] {
  background-color: #dad6d7;
  height: 46px;
  padding-left: 120px;
}

.fk-cashInOut-form .form-group {
  position: relative;
}

.fk-cashInOut-form .form-group .button {
  margin-top: 50px;
}

.fk-cashInOut-center .labelIn {
  position: absolute;
  top: -4px;
  margin-top: 14px;
  margin-left: 10px;
  text-align: justify;
  width: 80px;
  font-weight: normal;
  font-size: 17px;
  vertical-align: center;
}

.fk-cashInOut-center .labelBottom {
  position: absolute;
  top: 32px;
  margin-top: 25px;
  width: auto;
  font-weight: 500;
  font-size: 12px;
  vertical-align: center;
  color: #1e8feb;
}

.fk-cashInOut-center label:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.fk-cashInOut-center .space {
  margin-top: 50px;
}

.fk-cashInOut-center .cashInTable {
  width: 100%;
  height: 150px;
  margin-bottom: 80px;
}

.fk-cashInOut-center .cashInTable td {
  font-size: 18px;
  text-align: center;
  width: 50%;
}

.fk-cashInOut-center .payButton {
  height: 49px;
  border: 0;
  border-radius: 3px;
  background-color: #1e8feb;
  margin:2px;
  padding: 0px 0px !important;
}

.fk-cashInOut-center .btn-primary .btn-primary .disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #1e8feb;
  border-color: #1e8feb;
  margin: 0px;
}

.fk-cashInOut-center .cashInOut-amount {
  height: 90px;
  padding: 10px;
  background-color: #ffffff;
}

.fk-cashInOut-center .cashInOut-bankAcc {
  height: 60px;
  vertical-align: center;
  background-color: #ffffff;
}

.fk-cashInOut-center .divider {
  background-color: #dad6d7;
}

.fk-cashInOut-center .ic-lock {
  background-image: url("/assets/images/loginLock.png");
  background-size: contain;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: center;
}

.fk-cashInOut-center .lock-text {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.fk-cashInOut-center .invest-text {
  font-size: 12px;
  display: inline-block;
  margin-top: 17px;
  margin-left: 17px;
  font-weight: 400;
  color: gray;
}

.fk-cashInOut-center .bank-text {
  margin-top: 19px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: center;
}

.fk-cashInOut-center .icon-right {
  background-image: url("/assets/images/CashInOut/arrowRightBlack.PNG");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 25px 25px;
  height: 60px;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 10px;
  padding-right: 30px;
}

.fk-cashInOut-center .bankName {
  display: inline-block;
}

.fk-cashInOut-center .bankName .accNumber {
  font-weight: bold;
  color: #218ee3;
  text-align: left;
  margin-left: 5px;
}

.fk-cashInOut-center .bankName .bank {
  font-weight: 400;
  font-size: 17px;
  color: black;
  text-align: left;
  margin-left: 5px;
}

.fk-cashInOut-center .ptop {
  padding-top: 15px;
}

.fk-cashInOut-center .curAmount {
  margin: 10px 10px 0px 10px;
}

.fk-cashInOut-center .curAmount .title {
  font-size: 15px;
  margin-bottom: 0px;
}

.fk-cashInOut-center .curAmount .amount {
  color: #218ee3;
  font-size: 18px;
  margin-left: 7px;
  margin-bottom: 0px;
}

.fk-cashOut-form {
  margin: 0px 10px 0px 10px;
}

.fk-cashOut-form .form-group {
  position: relative;
}

.fk-cashOut-form input[type=number]::-webkit-inner-spin-button, 
.fk-cashOut-form input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.fk-cashOut-form input[type="text"],
.fk-cashOut-form input[type="number"] {
  background-color: #dad6d7;
  height: 40px;
  padding-left: 20px;
}

.fk-cashOut-form .form-group {
  position: relative;
}

.fk-cashOut-form .labelBottom {
  position: absolute;
  margin-top: 65px;
  width: auto;
  font-weight: 500;
  font-size: 12px;
  vertical-align: center;
  color: #1e8feb;
}

.fk-cashOut-form table {
  width: 100%;
}

.fk-cashOut-form .td1 {
  width: 66px;
  font-size: 15px;
  padding-top: 23px;
}

.fk-cashOut-form .td2 {
  padding-left: 8px;
}

.fk-cashOut-form .labelBottom {
  margin-top: 25px;
  color: grey;
  font-weight: 400;
  text-align: left;
}


/*aliPay*/

.fk-cashInOut-center .aliPayTitle {
  text-align: center;
  color: #000;
  font-size: 20px;
  line-height: 100%;
  position: relative;
  padding: 0 0 .1rem;
  margin: 2rem 1.15rem 1.425rem;
  letter-spacing: .05rem;
  border-bottom: 3px solid gray;
}

.fk-cashInOut-center .payments-node {
  margin: 10px;
  border-radius: .5rem;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.fk-cashInOut-center .fk-aliPay-form {}

.fk-aliPay-form .form-group {
  position: relative;
}

.fk-aliPay-form input[type="text"],
.fk-aliPay-form input[type="number"] {
  background-color: #dcdcdc;
  height: 40px;
  padding-left: 130px;
  padding-top: 7px;
  margin-bottom: 15px;
}

.fk-aliPay-form .tips-block {
  margin-bottom: 20px;
  color: #666;
}

.fk-aliPay-form .tips-block .title {
  font-size: 1.8rem;
  margin: 5px 10px 5px 10px;
}

.fk-aliPay-form .tips-block .p {
  font-size: 1.3rem;
  margin: 0 10px 1px 10px;
}

.fk-aliPay-form .form-group label {
  position: absolute;
  margin-top: 8px;
  margin-left: 15px;
  text-align: justify;
  width: 100px;
  font-weight: normal;
  font-size: 17px;
}

.fk-aliPay-form .form-group label::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.fk-cashInOut-center .qrcode-block {
  width: 15rem;
  height: 15rem;
  margin: 0 auto .75rem;
  border-radius: .75rem;
  border: .25rem solid #ea6000;
  overflow: hidden;
}

.fk-cashInOut-center .qrcode-block img {
  display: block;
  width: 100%;
  height: 100%;
}

.fk-cashInOut-center .payments-node .row {
  width: 100%;
  height: 100%;
  margin: 0 auto .75rem;
}

.fk-cashinout-pay {
  width: 48%;
  display: inline;
  float: left;
  text-align: center;
  padding: 0 0px 0px;
  box-sizing: border-box;
}

.fk-cashinout-pay-right {
  width: 48%;
  display: inline;
  float: left;
  text-align: center;
  margin-left: 4%;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.fk-cashInOut-select {
  padding-left: 130px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cic-bankName {
  line-height: 50px;
  vertical-align: middle;
}

.lh60 {
  line-height: 60px;
}

.pTop8 {
  padding-top: 8px;
}

.cashout-bank-acc {
  line-height: 60px;
  vertical-align: middle;
}

.mh260 {
  min-height: 260px;
}

.mtop10 {
  margin-top: 10px;
}

.mbot60 {
  margin-bottom: 60px;
}

.font16 {
  font-size: 16px;
}

.font11 {
  font-size: 11pt;
}
.font10 {
  font-size: 0.9em;
}
.cashinout-bigBtn1 {
  width: 31.5%;
  display: inline-block;
  padding: 0px;
}

.cashinout-bigBtn2 {
  width: 32.5%;
  display: inline-block;
  padding: 0 4px 0px 4px;
}

.cashinout-bigBtn3 {
  width: 32.5%;
  display: inline-block;
  padding: 0px;
}

.cashinout-uline {
  padding-bottom: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.mtop20 {
  margin-top: 20px;
}

.manual-bgWhite {
  background-color: white;
  padding: 7px 0px 5px 20px;
  font-size: 17px;
  height: 50px;
  position: relative;
}

.mp-ls-icon-right {
  background-image: url("/assets/images/account/right.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 10px;
  margin-top: 0px;
  margin-right: 25px;
}

.mp-ls-icon-left {
  background-image: url("/assets/images/account/note2.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  left: 5;
  top: 10px;
  margin-top: 0px;
  margin-right: 25px;
}

.mp-title {
  padding-left: 30px;
  padding-top: 6px;
  color: #2a8de8;
}

.payments-bg {
  background-color: white;
  height: 100%;
  overflow: overlay;
}

.payments-round {
  padding-left: 17px;
  padding-right: 17px;
}

.tips-round {
  padding: 25px 40px 30px 35px;
}

.pLeft30 {
  padding-left: 30px !important;
}

.mh30 {
  min-height: 30px;
}

.ali-bank-info {
  margin-top: 30px;
  min-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.ali-blue-corner {
  background-color: #1e8feb;
  padding-bottom: 15px;
}

.ali-blue-title {
  width: 100%;
  padding: 5px 0px 0px 0px;
  border-bottom: 1px solid white;
}

.ali-blue-content {
  width: 100%;
  height: 300px;
  font-size: 8pt;
}

.ali-blue-left-content {
  display: inline-block;
  height: 300px;
  width: 45%;
  font-size: 10pt;
  vertical-align: top;
  padding-top: 50px;
  padding-left: 10px;
}

.ali-blue-right-content {
  display: inline-block;
  height: 300px;
  width: 45%;
  padding-top: 30px;
}

.ptop30 {
  padding-top: 30px;
}

.ali-qrcode {
  min-height: 120px;
  min-width: 120px;
}

.lightBlue {
  background-color: #1e8feb;
  color: white;
}

.ptop15 {
  padding-top: 15px;
}

.font9 {
  font-size: 9pt;
}

.lightBlueFont {
  color: #1e8feb;
}

.icon-aliPay {
    background-position: 0em -78.64583333em;
    width: 3.33333333em;
    height: 3.33333333em;
}

.icon-wechatPay {
    background-position: 0em -91.97916667em;
    width: 3.33333333em;
    height: 3.33333333em;
}

.icon-netPay {
    background-position: 0em -85.3125em;
    width: 3.33333333em;
    height: 3.33333333em;
}
.icon-online {
    background: url(/assets/images/topupType/onlinePay.png?v=1231q) no-repeat center center;
    background-size: 84% 84%;
    background-position: center !important;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right:2px;
}
.icon-qqPay {
    background-position: 0em -81.97916667em;
    width: 3.33333333em;
    height: 3.33333333em;
}
.icon-jdPay {
    background: url(/assets/images/topupType/jd.png?v=1234q) no-repeat center center;
    background-size: 84% 84%;
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-right:2px;
}
.icon-fastPay {
    background-position: 0em -88.64583333em;
    width: 3.33333333em;
    height: 3.33333333em;
}
.icon {
    font-size: 0.7rem;
    margin-right:2px;
    background-image: url(/assets/images/sprite2.png);
    background-size: 10.26041667em 128.38541667em;
}
.icon {
    display: inline-block;
    vertical-align: middle;
}
span .icon {
    margin-top: 5px;
    margin-right: 1px;
    font-size: 12px;
    vertical-align: inherit;
}
