<div class="fk-cashInOut-center container-fluid">

  <div class="fk-scrollable row" style="height:100%">
    <div class="fk-scrollable-content col-md-12">
      <page-header background="true" back="false" cs="true" logo="true" credit="true"></page-header>

      <div class="cio-avatar"></div>

      <div class="cio-nav">
        <ul>
          <li class="cio-nav-item" ng-class="(cashInOut.tabName == 'cashIn') ? 'selected' : '' " ng-click="cashInOut.setTab('cashIn')">
            充值
          </li>
          <li class="cio-nav-divider"></li>
          <li class="cio-nav-item" ng-class="(cashInOut.tabName == 'cashOut') ? 'selected' : '' " ng-click="cashInOut.setTab('cashOut');cashInOut.checkGameCredit();">
            提款
          </li>
        </ul>
      </div>

      <form class="fk-cashInOut-form" name="cashInForm" ng-show="(cashInOut.tabName == 'cashIn')">
        <div class="form-group">
          <label class="labelIn">充值金额:</label>
          <input type="number" name="cashInAmount" ng-model="cashInOut.cashInAmount" placeholder="请输入充值金额" class="form-control" ng-min="10"
            required/>
          <div class="has-error" ng-messages="cashInForm.cashInAmount.$error" ng-if="cashInForm.cashInAmount.$touched">
            <div ng-message="required">
              <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                <div class="arrow" style="left: 50%;"></div>
                <h3 class="popover-title" style="display: none;"></h3>
                <div class="popover-content">必填</div>
              </div>
            </div>
            <div ng-message="max">
              <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                <div class="arrow" style="left: 50%;"></div>
                <h3 class="popover-title" style="display: none;"></h3>
                <div class="popover-content">单次充值最多5000元</div>
              </div>
            </div>
            <div ng-message="min">
              <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                <div class="arrow" style="left: 50%;"></div>
                <h3 class="popover-title" style="display: none;"></h3>
                <div class="popover-content">充值金额不能小于10元</div>
              </div>
            </div>
          </div>
          <span>{{onlineTopupType}}</span>

          <label class="labelBottom">{{ cashInOut.onlineTopupListTXT }}</label>
        </div>
        <div class="space"></div>
        <!-- <div class="mh260"> -->
        <div class="form-group">
          <div ng-class="{'cashinout-bigBtn1': key%3===0, 'cashinout-bigBtn2': key%3===1, 'cashinout-bigBtn3': key%3===2 }" ng-repeat="(key, topupType) in cashInOut.onlineTopupType">
            <button type="submit" class="btn btn-primary y font10 btn-block payButton" ng-click="cashInOut.topUp(topupType.type)" ng-disabled="cashInForm.$invalid"
            >
            <span class="{{topupType.icon}}"></span>{{topupType.name}}</button>
          </button>
          </div>
        </div>


        <div class="form-group">
          <div align="center" class="font16 ptop20 cashinout-uline"><b>手工支付方式</b></div>
          <div class="mtop20">
            <button type="submit" class="btn btn-primary y font16 btn-block payButton" ng-click="cashInOut.redirectToOtherPage('#/aliPay')"
            > <i class="icon icon-aliPay"></i>支付宝转账</button>
          </div>
          <!-- <div class="mtop10">
            <button type="submit" class="btn btn-primary y font16 btn-block payButton" ng-click="cashInOut.redirectToOtherPage('#/wechatPay')"
            > <i class="icon icon-wechatPay"></i>微信支付</button>
          </div> -->
          <div class="mtop10">
            <button type="submit" class="btn btn-primary y font16 btn-block payButton" ng-click="cashInOut.redirectToOtherPage('#/manualpaystatus')"
              style="" ><i class="icon-online"></i>手工存款</button>
          </div>
        </div>
      </form>
      <div ng-show="(cashInOut.tabName == 'cashOut')">
        <div class="cashInOut-bankAcc">
          <span class="bank-text">银行帐号</span>
          <div class="icon-right">
            <div class=" bankName">
              <img class="centerImg" src="/assets/images/portrait/icon_bank.jpg" height="30" width="50" align="right" vertical-align="center">
            </div>
            <div class="bankName">
              <a href="#/bank/cashInOut">
                <!-- <div class="bank" ng-if="cashInOut.userData.bankName"></div> -->
                <div ng-if="cashInOut.userData.bankName">
                  <div class="cashout-bank-acc">{{::cashInOut.userBank}} 尾号{{::cashInOut.userData.bankAccount}}</div>
                </div>
                <div class="accNumber lh60" ng-if="!cashInOut.userData.bankAccount">
                  添加资料{{cashInOut.userData.bankAccount}}
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="divider" style="height:1.5px"></div>
        <div class="curAmount">
          <label class="title">本地额度:
            <span ng-if="cashInOut.loading" class="amount">加载中...</span>
            <span ng-if="!cashInOut.loading" class="amount">{{(cashInOut.userData.validCredit).toFixed(2)}}</span>
          </label>
        </div>
        <form class="fk-cashOut-form" name="cashOutForm">
          <div class="form-group">
            <table border="0">
              <tr>
                <td class="td1">
                  <label class="">提款金额:</label>
                </td>
                <td class="td2">
                  <input type="number" name="cashOutAmount" ng-model="cashInOut.cashOutAmount" placeholder="" class="form-control" ng-min="100"
                    id="cashOutAmount" ng-max="100000" required/>

                  <label class="labelBottom">温馨提示： 单笔最低提款100元，单日最高提款10万元。7x24小时随时提款不限次数免费办理，星级会员提款金额无上限。</label>

                  <div class="has-error" ng-messages="cashOutForm.cashOutAmount.$error" ng-if="cashOutForm.cashOutAmount.$touched">
                    <div ng-message="required">
                      <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                        <div class="arrow" style="left: 50%;"></div>
                        <h3 class="popover-title" style="display: none;"></h3>
                        <div class="popover-content">必填</div>
                      </div>
                    </div>
                    <div ng-message="max">
                      <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                        <div class="arrow" style="left: 50%;"></div>
                        <h3 class="popover-title" style="display: none;"></h3>
                        <div class="popover-content">单次提款最多10万元</div>
                      </div>
                    </div>
                    <div ng-message="min">
                      <div class="popover fade top in" role="tooltip" style="top: -30px;left: 92px;display: block; color: #ff0000;">
                        <div class="arrow" style="left: 50%;"></div>
                        <h3 class="popover-title" style="display: none;"></h3>
                        <div class="popover-content">提款金额不能小于100元</div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            <input type="submit" class="btn btn-primary y btn-lg btn-block" value="提交" ng-click="cashInOut.applyBonus(1)" ng-disabled="cashOutForm.$invalid"
              style="margin:60px 0 80px 0;" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer-menu name="'cashinout'"></footer-menu>
</div>
<!--  Modal  -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">

        <div ng-show="cashInOut.paymentMessage">
          <div style="text-align: center;">
            {{cashInOut.paymentMessage}}
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">提示</h4>
      </div>
      <div class="modal-body">
        是否立刻前往充值页面进行充值？
      </div>
      <div class="modal-footer">
        <a type="button" target="_blank" ng-href="{{cashInOut.payUrl}}" class="btn btn-default">确定</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
