<div class="fk-loading" ng-show="$root.loading" ng-click="$root.loading = false">
  <div class="kart-loader" ng-show="true">
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
    <div class="sheath">
      <div class="segment"></div>
    </div>
  </div>
</div>
