<div class="row">
  <div class="fk-footer col-md-12">
    <a class="btn-game fk-footer-btn" href="#/home">
      <div class="fk-footer-icon"></div>
      <div class="fk-footer-text">游戏</div>
    </a>
    <div class="fk-footer-divider"></div>
    <a class="btn-promotion fk-footer-btn" href="#/reward">
      <div class="fk-footer-icon"></div>
      <div class="fk-footer-text">优惠</div>
    </a>
    <div class="fk-footer-divider"></div>
    <a class="btn-enter-game fk-footer-btn" ng-click="$root.playGame('EBETFISH')">
      <div class="fk-footer-icon"></div>
    </a>
    <div class="fk-footer-divider"></div>
    <a class="btn-cashinout fk-footer-btn" href="#/cashInOut/cashIn">
      <div class="fk-footer-icon"></div>
      <div class="fk-footer-text">充/提</div>
    </a>
    <div class="fk-footer-divider"></div>
    <a class="btn-account fk-footer-btn" href="#/account">
      <div class="fk-footer-icon"></div>
      <div class="fk-footer-text">账号</div>
    </a>
  </div>
</div>
