.fk-userinfo .col-md-12{
  background-color: #eeeeee;
  padding: 0;
}
.ptop20{
  padding-top:20px !important;
}
.pbot20{
  padding-bottom:20px !important;
}
.rightEdit{
  min-height:50px;
  background-image: url("/assets/images/right.png");
  background-position:center right;
  background-repeat:no-repeat;
  background-size: 30px 30px;
  /*padding-right:30px;*/

}
.bgWhite{
  background-color:white;
}
.bgGray{
  background-color: #DCDCDC;
}
.h100{
  height:50px;
  font-size:large;
}
.h200{
  height:100px;
  font-size:large;
}
.m50{
  margin-top:50px;
}
.h10{
  min-height:10px;
}
.h20{
  min-height:20px;
}
.table >tbody >tr >td{
  vertical-align:middle;
}

.bankAcc{
  margin:0;
  height:50px;
  font-size:large;
}
.photoList{
  width:100%;
  min-height:50%;
  position:fixed;
  bottom:0%;
  background-color:white;
  border-top:1px solid #CECECE;
  box-shadow:1px 1px #CECECE;
  z-index:2;

}

.closePhotoList{
    display:none;
}
.openPhotoList{
    display:block;
}
.chosenPic{
  border:3px solid #feb403;
}
.userImage{
  outline:none;
  
}

.dp1{
  min-height:50px;
  background-image: url("/assets/images/portrait/1.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;

}
.dp2{
  min-height:50px;
  background-image: url("/assets/images/portrait/2.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}
.dp3{
  min-height:50px;
  background-image: url("/assets/images/portrait/3.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}
.dp4{
  min-height:50px;
  background-image: url("/assets/images/portrait/4.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}

.dp5{
  min-height:50px;
  background-image: url("/assets/images/portrait/5.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}
.dp6{
  min-height:50px;
  background-image: url("/assets/images/portrait/6.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}
.dp7{
  min-height:50px;
  background-image: url("/assets/images/portrait/7.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}
.dp8{
  min-height:50px;
  background-image: url("/assets/images/portrait/8.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}

.dp9{
  min-height:50px;
  background-image: url("/assets/images/portrait/9.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}
.dp10{
  min-height:50px;
  background-image: url("/assets/images/portrait/10.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}
.dp11{
  min-height:50px;
  background-image: url("/assets/images/portrait/11.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}
.dp12{
  min-height:50px;
  background-image: url("/assets/images/portrait/12.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 50px 50px;
  width:50px;
  height:50px;
  margin: 0 auto;
}

.m30{
  margin-top:30px;
}
.confirm_btn{
  background-image: url("/assets/images/portrait/confirm.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size: 200px 50px;
  width:100%;
  height:44px;
  position:relative;
  /*text-align:center;*/
}
.modalBlack{
  background-color:black;
  width:100%;
  height:100%;
  opacity:0.8;
  min-height:50px;
  top:0;
  position:absolute;
  z-index:1;
}

.ls-text-right {
  height: 25px;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 13px;
  margin-right: 25px;
}

.ls-dphoto{
  margin-top: 14px;
  margin-left: 15px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  
}


.ls-dphoto-right{
  min-height:100px;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 13px;
  margin-right: 25px;
  margin-bottom:30px;

}

.ls-entry-right{
  background-image: url("/assets/images/account/right.png");
  /*background-size: contain;*/
  background-repeat: no-repeat;
  background-position:center right;
  background-size:25px 25px;
  height: 50px;
  display: inline-block;
  position: absolute;
  right: 0;
  /*margin-top: 13px;*/
  margin-right: 25px;
  padding-right:30px;
}
.bankName{
  display:inline-block;
}

.centerImg {
  margin: 0;
  position: absolute;
  top: 50%;
  width:25px;
  height:20px;
  transform: translate(-120%, -50%);
}

.bankName div{
  font-weight: bold;
  color:#218ee3;
  text-align:left;
}
.ptop6{
  padding-top:6px;
}

.user-avatar{
  height: 80px;
  width: 80px;
  border-radius: 100px;
  background-color: #eeeeee;
  border: 3px solid #2d9efa;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0px 0px 0;
  vertical-align: top;
}


.mh50{
  min-height:150px;
}

.user-bank-acc{
  line-height:50px;
  font-size:1em;
}