.fk-password .col-md-12 {
  padding: 0;
}

.fk-password-form {

}

.fk-password-form .form-group {
  position: relative;
}

.fk-password-form input[type="text"], .fk-password-form input[type="password"]  {
  height: 46px;
  padding-left: 130px;
  border: 0;
  outline: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  border-bottom: 0.1px solid gray;
}


.fk-password label {
  position: absolute;
  top: -4px;
  margin-top: 14px;
  margin-left: 10px;
  text-align: justify;
  width: 100px;
  font-weight: normal;
  font-size: 17px;
  vertical-align: center;
}

.fk-password label:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.fk-password .space {
  margin: 20px;
}

.smsCodeBTN{
  font-size:17px;
  position: absolute;
  right: 0px;
  margin-top: 14px;
  margin-left: 10px;
  text-align: justify;
  width: auto;
  font-weight: 400;
  font-size: 17px;
  top:-15px;
}