.fk-account .col-md-12 {
  background-color: #eeeeee;
  padding: 0;
}

.fk-account a {
  color: #000000;
}

.page-acc-list {
  padding: 0;
}

.page-acc-list a {
  width: 100%;
  height: 100%;
  display: block;
}

.page-acc-list li {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px #f5f5f5 solid;
  cursor: pointer;
}

.page-acc-list .ls-text {
  margin-top: 14px;
  margin-left: 15px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}

.page-acc-list .ls-icon {
  margin: 10px 0 0 20px;
}

.page-acc-sublist {
  padding-left: 0;
  margin-top: 1px !important;
}

.page-acc-sublist .ls-text {
  margin-left: 10px;
}

.page-acc-sublist .ls-icon {
  margin-left: 70px;
}

.ic-head {
  background-image: url("/assets/images/account/head.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ic-tag {
  background-image: url("/assets/images/account/tag.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ic-note {
  background-image: url("/assets/images/account/note.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ic-msg {
  background-image: url("/assets/images/account/msg.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ic-inbox {
  background-image: url("/assets/images/inbox.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ic-money {
  background-image: url("/assets/images/account/money.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ic-graph1 {
  background-image: url("/assets/images/account/graph1.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;

}

.ic-transaction {
  background-image: url("/assets/images/account/transaction.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ic-gps {
  background-image: url("/assets/images/account/gps.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ic-people {
  background-image: url("/assets/images/account/people.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ic-hand {
  background-image: url("/assets/images/account/hand.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position:center;
}

.ic-graph2 {
  background-image: url("/assets/images/account/graph2.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ic-credit {
  background-image: url("/assets/images/signup/signupGame.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}

.ls-icon-right {
  background-image: url("/assets/images/account/right.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 13px;
  margin-right: 25px;
}

.ls-icon-down {
  background-image: url("/assets/images/account/down.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 13px;
  margin-right: 25px;
}
