.fk-account-center .col-md-12 {
  padding: 0;
  background-color: #eee;
}

.fk-account-center .ac-avatar {
  background-color: #0c6cb9;
  height: 100px;
  outline: none;
}

.fk-account-center .ac-avatar-icon {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  background-color: #eeeeee;
  border: 3px solid #2d9efa;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 20px 20px 0;
  vertical-align: top;
}

.fk-account-center .ac-avatar-status {
  display: inline-block;
  color: #ffffff;
  vertical-align: top;
  margin-top: 20px;
}

.fk-account-center .ac-avatar-status-name {
  display: block;
  font-size: 16px;
  font-weight: bold;
  /*margin-bottom: 10px;*/
}
.fk-account-center .playerLevel{
  font-size:0.9em;
}
.fk-account-center .ac-avatar-status-credit {
  display: block;
  background-color: #2d9efa;
  text-align: center;
  border-radius: 3px;
}

.fk-account-center .ac-avatar-link {
  display: inline-block;
  position: absolute;
  right: 10px;
  margin-top: 30px;
  color: #ffffff;
  cursor: pointer;
}

.fk-account-center .ac-avatar-link-text {
  vertical-align: top;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  line-height: 20px;
}

.fk-account-center .ac-avatar-link-icon {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: top;
  background-image: url("/assets/images/right.png");
}

.fk-account-center .ac-nav {
  background-color: #1e8feb;
  height: 50px;
}

.fk-account-center .ac-nav ul {
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  vertical-align: top;
}

.fk-account-center .ac-nav-item {
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 33%;
  vertical-align: top;
  color: #ffffff;
  height: 100%;
  font-size: 14px;
  cursor: pointer;
  line-height: 48px;
  outline: none;
}

.fk-account-center .ac-nav-item-selected {
  color: #08fd64;
  background-color: #177fd4;
  border-bottom: 3px solid #08fd64;
}

.fk-account-center .ac-reward {
  height: 140px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.fk-account-center .ac-reward-title {
  font-weight: bold;
  margin-left: 6px;
  line-height: 40px;
}

.fk-account-center .ac-reward-item {
  text-decoration: underline;
  line-height: 35px;
}

.fk-account-center .ac-cashout {
  height: 160px;
  background-color: #ffffff;
  margin-bottom: 10px;
  overflow: scroll;
}

.fk-account-center .ac-cashin {
  height: 200px;
  background-color: #ffffff;
  margin-bottom: 10px;
  overflow: scroll;
}

.fk-account-center .ac-nav-divider {
  background-image: url("/assets/images/footerMenu/footerMenuDivider.png");
  vertical-align: top;
  height: 100%;
  width: 2px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
}

.fk-account-center .btn-primary,
.fk-account-center .btn-primary:hover {
  background-color: #ffc001 !important;
  font-weight: bold;
  border-color: #ffc001;
  margin-bottom: 30px;
}

.fk-account-center .btn-danger,
.fk-account-center .btn-danger:active,
.fk-account-center .btn-danger[disabled]:hover,
.fk-account-center .btn-danger[disabled]:active {
  background-color: #2b9cfa;
  border-color: #2b9cfa;
  margin-top: 5px;
  margin-right: 5px;
}

.fk-account-center .btn-wrapper {
  padding: 0 10px;
}

.ac-reward-progress {
  margin-top: 15px;
}

.ac-reward-progress-title {
  color: #aaa;
  font-size: 12px;
  margin-left: 30px;
  margin-right: 10px;
}

.ac-reward-progress-bar-bg {
  height: 8px;
  width: 200px;
  background-color: #ddd;
  display: inline-block;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.ac-reward-progress-bar-fg {
  height: 8px;
  background-color: #2b9cfa;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.ac-reward-progress-bar-credit {
  position: absolute;
  top: -18px;
  font-size: 12px;
  color: #aaa;
  min-width: 55px;
}

.ac-reward-progress-bar-tri {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2b9cfa;
  vertical-align: top;
  display: inline-block;
  margin-top: 6px;
}

.ac-reward-progress-bar-start {
  position: absolute;
  top: 8px;
  left: 0px;
  font-size: 12px;
  color: #aaa;
}

.ac-reward-progress-bar-percent {
  position: absolute;
  top: 8px;
  left: 50px;
  font-size: 12px;
  color: #aaa;
}

.ac-reward-progress-bar-end {
  position: absolute;
  top: 8px;
  right: 0px;
  font-size: 12px;
  color: #aaa;
}

.ac-credit {
  display: block;
  margin-top: 30px;
  text-align: right;
  margin-right: 20px;
}

.ac-credit-light {
  color: #aaa;
}

.ac-credit-highlight {
  font-weight: bold;
}

.ac-cashin-selected {
  background-color: #00b3ee;
}

.pLeft20 {
  padding-left: 20px;
}

.ac-bgWhite {
  background-color: white !important;
}

.mLeft6 {
  margin-left: 6px;
}

.ac-game-credit {
  font-size: 0.8em;
}

.ac-game-div {
  padding: 10px 0px 5px 0px !important;
  display: flex;
  position: relative
}

.ac-game-item {
  height: 22px;
  max-height: 22px;
  padding-top: 5px;
  padding-bottom: 2px;
  line-height: 90%;
}

.ac-bline {
  border-spacing: 10px;
}

.wp20 {
  width: 20%
}

.ac-blueFont {
  color: #299bfe;
}

.ac-credit-block {
  height: 60px;
  background-color: white;
  margin-bottom: 10px
}

.ac-credit-header {
  min-height: 32px;
  width: 100%;
  border-bottom: 1px solid #CECECE;
  position: absolute;
  top: 0px;
}
